*{
    margin: 0;
    padding: 0;
}

h1{
    margin-left: 10%;
}

.header{
    width: 100vw;
    height: 10vh;
    background-color: #AB2A19;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}